@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-zinc-300 overflow-hidden select-none;
}

h1 {
  @apply text-4xl font-bold mb-2;
}

h2 {
  @apply text-3xl font-semibold mb-2;
}

h3 {
  @apply text-2xl font-medium mb-2;
}

p {
  @apply text-base mb-2 font-medium;
}

span {
  @apply text-base font-semibold;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  grid-gap: 12px;
}

.appBar {
  -webkit-app-region: drag;
}

.sys_req {
  @apply text-zinc-400;
  strong {
    @apply text-base text-zinc-300;
  }

  .bb_ul {
    strong {
      @apply text-sm;
    }
  }
}

.bb_ul {
  list-style-type: disc;

  @apply ml-5 flex flex-col gap-1;
}

video {
  @apply rounded-md;
}

.details_game {
  img {
    @apply rounded-md min-w-[100%];
  }
  p {
    @apply mb-2;
  }

  * {
    margin: 0;
  }
  .bb_ul {
    @apply ml-5;
  }
  br {
    display: none;
  }

  @apply flex flex-col gap-4;
}
